<ion-header no-padding>

     <ion-searchbar [(ngModel)]="searchQuery" showCancelButton animated (ionChange)="onSearchInput()"> </ion-searchbar>
  
</ion-header>

<ion-content>

   <ion-list>
    <ion-item *ngIf="searchQuery">
      <p>Number of records {{items?.length}}</p>
    </ion-item>
     <ion-item *ngFor="let item of items" (click)="showCourseDetails(item);">
       <ion-icon name="book" slot="start"></ion-icon>
       <ion-label color="primary" >{{item['Course Name']}} <p>{{item['Next Session Date']}}</p>      <p> {{item['Parent Subject']}}</p>
        <p> {{item['Child Subject']}}</p></ion-label>
  

     </ion-item>
   </ion-list>
 
</ion-content>
