.sc-ion-searchbar-md-h {
    padding-left: unset;
    padding-right: unset;
    /* -webkit-padding-start: 8px; */
    /* padding-inline-start: 8px; */
    /* -webkit-padding-end: 8px; */
    /* padding-inline-end: 8px; */
}
.sc-ion-searchbar-md-h {
     padding-bottom: none !important;
}
